@{
    if (TempData["message"] != null)
    {
        string hudClass = "";
        switch (TempData["message"].ToString().Substring(0, 2))
        {
            case "Rx":
                hudClass = "hudExito fadeHud";
                break;
            case "Ex":
                hudClass = "hudError fadeHud";
                break;
            case "Nx":
                hudClass = "hudNotificacion fadeHud";
                break;
            case "Wx":
                hudClass = "hudAdvertencia fadeHud";
                break;
            default:
                hudClass = "hudNeutro fadeHud";
                break;
        }
        if (hudClass.ToString() == "hudNeutro fadeHud")
        {
            <h3 class="@hudClass">@TempData["message"].ToString()</h3>
        }
        else
        {
            <h3 class="@hudClass">@TempData["message"].ToString().Substring(3, TempData["message"].ToString().Length - 3)</h3>
        }
    }
}